/* Primary colours for text and backgrounds */
$primary-dark: #323232;
$primary-grey: #afafaf;
$primary-white: #ffffff;

/* Secondary colours for other elements and background */
$secondary-dark: #000000;
$secondary-grey: #e1e1e1;
$secondary-white: #fafafa;
