/* Regular */
@font-face {
  font-family: "Avenir Next";
  src: url(../assets/fonts/avenir-next-regular-400.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Demi */
@font-face {
  font-family: "Avenir Next";
  src: url(../assets/fonts/avenir-next-demi-600.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: "Avenir Next";
  src: url(../assets/fonts/avenir-next-bold-700.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
