@use "../fonts";
@use "../colors" as colors;
@use "../breakpoints" as breakpoints;

/* CSS for main section of bandsite bio page */

/* MOBILE VERSIONS UNTIL TABLET MEDIA QUERY */
/* hero section - mobile */
.bio-hero {
  height: 58.5vw;
  background: center / cover no-repeat url(../assets/images/hero-bio.jpg);
  // css to create 50% opacity overlay on top of background image so band name has better contrast
  &__overlay {
    background-color: rgba(50, 50, 50, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  &__title {
    margin: 0 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.02rem;
    color: colors.$primary-white;
  }
}
/* main bio section - mobile */
.bio {
  padding: 1.25rem 1rem 0 1rem;
  &__title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.75rem;
  }
  &__subheader {
    font-size: 0.875rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  &__image {
    width: 100%;
    height: 49vw;
    object-fit: cover;
    object-position: bottom;
    margin-bottom: 0.5rem;
  }
}
.bio-quote {
  margin-bottom: 1.5rem;
  &__quote,
  &__quote-author {
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.375rem;
    margin-bottom: 0.25rem;
  }
}
.bio-description {
  // padding added to match the mockup more closely
  padding-right: 0.45rem;
  &__description {
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }

  /* photo gallery section - mobile */
}
.photo-gallery {
  padding: 1.5rem 1rem 1rem;
  background-color: colors.$secondary-white;
  &__title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.75rem;
  }
  &__gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  &__image-container {
    overflow: hidden;
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* diving deeper using pseudoclasses */
    // images grayscale by default
    filter: grayscale(100%);
    transition: 0.35s linear;
    // upon hover, images gain colour and scale up 0.5% to add a feel of responsiveness
    &:hover {
      filter: grayscale(0%);
      transform: scale(1.075);
    }
    // in the future, would like to add modal image using javascript (click image to popup)
  }
}
/* comments section - mobile */
.comments {
  padding: 1rem;
  &__title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
}
.comments-form {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  &__avatar-section {
    padding-top: 1rem;
  }
  &__avatar {
    border-radius: 50%;
    width: 2.25rem;
    height: 2.25rem;
    object-fit: cover;
    object-position: left;
  }
  &__form {
    width: 100%;
  }
  &__container {
    padding: 0;
    border: none;
  }
  &__label {
    font-size: 0.625rem;
    font-weight: 600;
    text-transform: uppercase;
    color: colors.$primary-grey;
    display: block;
    margin-bottom: 0.25rem;
  }
  &__input,
  &__textarea {
    margin-bottom: 1rem;
    border: 1px solid colors.$secondary-grey;
    border-radius: 4px;
    background-color: colors.$secondary-white;
    color: colors.$primary-dark;
    font-family: "Avenir Next";
    font-size: 0.8125rem;
    padding: 0.5rem;
    width: 100%;
    &::placeholder {
      color: colors.$primary-dark;
      letter-spacing: 0.8;
    }
    &:focus {
      outline: 1px solid colors.$primary-dark;
    }
    &:invalid {
      outline: 1px solid #d22d2d;
    }
  }
  &__submit-button {
    text-transform: uppercase;
    padding: 0.75rem;
    width: 100%;
    border-radius: 4px;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 1.2;
    color: colors.$primary-white;
    background-color: colors.$primary-dark;
    font-family: "Avenir Next";
    border: none;
    &:hover {
      background-color: colors.$secondary-dark;
    }
  }
}

.posted-comments {
  border-top: 1px solid colors.$secondary-grey;
}
/* styling for individual posted comments */
.comment {
  border-bottom: 1px solid colors.$secondary-grey;
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
  &__title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
  }
  &__avatar {
    border-radius: 50%;
    width: 2.25rem;
    height: 2.25rem;
    object-fit: cover;
    object-position: left;
    background: colors.$secondary-grey;
  }
  &__name {
    font-size: 0.875rem;
    font-weight: 600;
    color: colors.$primary-dark;
  }
  &__date {
    font-size: 0.8125rem;
    font-weight: 400;
    color: colors.$primary-grey;
  }
  &__comment {
    font-size: 0.8125rem;
    font-weight: 400;
    color: colors.$primary-dark;
  }
}

/* MEDIA QUERY FOR TABLET */
@include breakpoints.medium {
  /* hero section - tablet */
  .bio-hero {
    &__title {
      margin: 0 2.25rem;
      font-size: 3.625rem;
      letter-spacing: 0.1rem;
    }
  }
  /* main bio section - tablet */
  .bio {
    margin: 1.75rem 1.5rem 1rem;
    &__title {
      font-size: 2.25rem;
      margin-bottom: 1.5rem;
    }
    &__subheader {
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
    }
    &__image {
      height: 40vw;
      margin-bottom: 1.5rem;
    }
  }
  .bio-main {
    margin: 0 3.75rem;
  }
  .bio-quote {
    margin-bottom: 3.125rem;
    &__quote {
      font-size: 1.375rem;
      line-height: 2rem;
      margin-bottom: 0.75rem;
    }
    &__quote-author {
      font-size: 1rem;
    }
  }
  .bio-description {
    padding-right: 0;
    &__container {
      display: flex;
      column-gap: 1.5rem;
    }
    &__description {
      font-size: 0.85rem;
      line-height: 1.375rem;
    }
  }
  /* photo gallery section - tablet */
  .photo-gallery {
    padding: 3rem 2.25rem 2.125rem;
    &__title {
      font-size: 2.25rem;
      margin-bottom: 1.5rem;
    }
    &__gallery {
      width: 100%;
      justify-content: center;
      gap: 1.5rem;
    }
    &__image-container {
      flex-basis: 31%;
    }
    &__image {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}

@include breakpoints.large {
  /* hero section - desktop */
  .bio-hero {
    height: 39rem;
    &__title {
      margin: 0 8rem;
    }
  }
  /* main bio section - desktop */
  .bio {
    margin: 1.875rem 7rem 1rem;
    &__title {
      margin-bottom: 2.375rem;
    }
    &__subheader {
      margin-bottom: 1.5rem;
    }
    &__image {
      height: 35vw;
      margin-bottom: 1.625rem;
    }
  }
  .bio-main {
    margin: 0 5.5rem;
  }
  .bio-quote {
    margin-bottom: 3rem;
    width: 82%;
    &__quote {
      font-size: 1.425rem;
      margin-bottom: 1rem;
    }
  }

  /* photo gallery section - desktop */
  .photo-gallery {
    padding: 3rem 8rem 2rem;
    &__title {
      margin-bottom: 2rem;
    }
    &__gallery {
      width: 100%;
      justify-content: center;
      gap: 1.375rem;
    }
    &__image-container {
      flex-basis: 31.5%;
    }
  }
}
