@use "../fonts";
@use "../colors" as colors;
@use "../breakpoints" as breakpoints;

.footer {
  background-color: colors.$primary-dark;
  color: colors.$primary-white;
  padding: 1.625rem 1rem 1rem;
  &__title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  &__subheader {
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: 600;
  }
  &__text {
    font-size: 0.8125rem;
    line-height: 1.125rem;
  }
  &__span {
    display: block;
  }
  &__email {
    font-size: 0.8125rem;
    color: colors.$primary-white;
    text-decoration: none;
  }
  &__social-container {
    margin-bottom: 1.25rem;
  }
  &__social {
    width: 7.75rem;
    display: flex;
    justify-content: space-between;
  }
  &__social-icon {
    height: 1.375rem;
  }
  &__contact-container {
    margin-bottom: 4rem;
  }
  &__contact {
    list-style-type: none;
    margin-left: -2.5rem;
    margin-bottom: 1.5rem;
  }
  &__list {
    margin-bottom: 1rem;
  }
  &__logo {
    margin-bottom: 0.5rem;
  }
  &__copyright {
    font-size: 0.675rem;
  }
}

/* MEDIA QUERY FOR TABLET */
@include breakpoints.medium {
  .footer {
    padding: 3rem 2.25rem 2.25rem;
    position: relative;
    &__title {
      font-size: 2.25rem;
      margin-bottom: 0;
    }
    &__subheader {
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
    &__text {
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
    &__email {
      font-size: 0.875rem;
    }
    &__social-container {
      display: flex;
      align-items: baseline;
      gap: 1.75rem;
      margin-bottom: 2.25rem;
    }
    &__social {
      margin-bottom: 0rem;
    }
    &__contact-container {
      display: flex;
      gap: 3rem;
      margin-bottom: 1.625rem;
    }
    &__contact {
      margin-bottom: 0rem;
    }
    &__list {
      margin-bottom: 1.5rem;
    }
    &__logo {
      margin-bottom: 0rem;
      position: absolute;
      top: 4rem;
      right: 2.25rem;
    }
    &__copyright {
      font-size: 0.875rem;
    }
  }
}

/* MEDIA QUERY FOR DESKTOP */
@include breakpoints.large {
  .footer {
    padding: 3rem 8.125rem 2.5rem;
    &__email {
      font-size: 0.875rem;
      color: colors.$primary-white;
      text-decoration: none;
    }
    &__social-container {
      gap: 3rem;
    }
    &__contact-container {
      gap: 4rem;
    }
    &__logo {
      top: 4rem;
      right: 8.125rem;
    }
  }
}
