/* Regular */
@font-face {
  font-family: "Avenir Next";
  src: url(../../assets/fonts/avenir-next-regular-400.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
/* Demi */
@font-face {
  font-family: "Avenir Next";
  src: url(../../assets/fonts/avenir-next-demi-600.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}
/* Bold */
@font-face {
  font-family: "Avenir Next";
  src: url(../../assets/fonts/avenir-next-bold-700.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
/* Primary colours for text and backgrounds */
/* Secondary colours for other elements and background */
/* mobile media query */
/* tablet media query */
/* desktop media query */
/* css for header and navigation */
/* mobile version below until media query for tablet */
.header {
  background-color: #323232;
}

.header-logo {
  padding: 1rem 0 0;
  margin: 0 1rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-logo__logo {
  max-width: 7.5rem;
  max-height: 1.25rem;
}

.header-nav__list {
  height: 100%;
  list-style-type: none;
  display: flex;
  margin-left: -2.5rem;
}
.header-nav__section {
  width: 100%;
  padding-bottom: 0.625rem;
  border-bottom: 3px solid transparent;
  transition: 0.15s;
}
.header-nav__section--active {
  color: #ffffff;
  font-weight: 600;
  border-bottom: 3px solid #ffffff;
}
.header-nav__section:hover {
  color: #ffffff;
  font-weight: 600;
  border-bottom: 3px solid #ffffff;
}
.header-nav__item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 0.8125rem;
  text-decoration: none;
  color: #e1e1e1;
}

/* media query for tablet */
@media only screen and (min-width: 768px) {
  .header {
    display: flex;
    justify-content: baseline;
  }
  .header-logo {
    padding: 0;
    margin: 1.375rem 4rem 1.375rem 2.25rem;
  }
  .header-logo__logo {
    max-width: 7.5rem;
    max-height: 1.25rem;
  }
  .header-nav__section {
    margin-right: 3.375rem;
    align-items: center;
    padding-bottom: 0rem;
  }
  .header-nav__section--active {
    border-bottom-width: 4px;
  }
  .header-nav__section:hover {
    border-bottom-width: 4px;
  }
  .header-nav__item {
    font-size: 0.875rem;
  }
}
/* media query for desktop */
@media only screen and (min-width: 1280px) {
  .header-logo {
    margin: 1.875rem 3.75rem 1.875rem 8.125rem;
  }
  .header-nav__section {
    margin-right: 2rem;
  }
}
/* CSS for main section of bandsite bio page */
/* mobile version below until media query for tablet */
/* hero section */
.bio-hero {
  height: 11.5rem;
  background: center/cover no-repeat url(../../../assets/images/hero-bio.jpg);
}
.bio-hero__overlay {
  background-color: rgba(50, 50, 50, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.bio-hero__title {
  margin: 0 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffffff;
}

/* main bio section */
.bio {
  margin: 1rem;
}
.bio__title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}
.bio__subheader {
  font-size: 0.875rem;
  font-weight: 600;
}
.bio__image {
  width: 100%;
  height: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  margin-bottom: 0.5rem;
}

.bio-quote {
  margin-bottom: 1.5rem;
}
.bio-quote__quote, .bio-quote__quote-author {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.375rem;
  margin-bottom: 0.25rem;
}

.bio-description {
  padding-right: 0.45rem;
}
.bio-description__description {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

/* media query for tablet */
@media only screen and (min-width: 768px) {
  /* hero section */
  .bio-hero {
    height: 27.75rem;
  }
  .bio-hero__title {
    margin: 0 2.25rem;
    font-size: 3.625rem;
  }
  /* main bio section */
  .bio {
    margin: 3rem 2.25rem 1rem;
  }
  .bio__title {
    font-size: 2.25rem;
    margin-bottom: 1.5rem;
  }
  .bio__subheader {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .bio__image {
    height: 19.25rem;
    margin-bottom: 1.5rem;
  }
  .bio-main {
    margin: 0 3.75rem;
  }
  .bio-quote {
    margin-bottom: 3.125rem;
  }
  .bio-quote__quote {
    font-size: 1.375rem;
    line-height: 2rem;
    margin-bottom: 0.75rem;
  }
  .bio-quote__quote-author {
    font-size: 1rem;
  }
  .bio-description {
    padding-right: 0;
  }
  .bio-description__container {
    -moz-column-count: 2;
         column-count: 2;
    -moz-column-gap: 1.5rem;
         column-gap: 1.5rem;
  }
  .bio-description__description {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media only screen and (min-width: 1280px) {
  /* hero section */
  .bio-hero {
    height: 39.375rem;
  }
  .bio-hero__title {
    margin: 0 8.125rem;
  }
  /* main bio section */
  .bio {
    margin: 3rem 8.125rem 1rem;
  }
  .bio__title {
    margin-bottom: 2.375rem;
  }
  .bio__subheader {
    margin-bottom: 1.5rem;
  }
  .bio__image {
    height: 28.25rem;
    margin-bottom: 1.625rem;
  }
  .bio-main {
    margin: 0 5.5rem;
  }
  .bio-quote {
    margin-bottom: 3rem;
    width: 80%;
  }
  .bio-quote__quote {
    font-size: 1.425rem;
    margin-bottom: 1rem;
  }
}
html,
body {
  margin: 0;
  font-family: "Avenir Next";
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
a,
p {
  margin: 0;
}

ul {
  margin: 0;
}/*# sourceMappingURL=bio.css.map */